 ul, li, nav, div, h1, h2, h3, h4, h5, h6, p, input {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    color: #232323;
    }



* {
    font-family: "Raleway";
    /* font-size: 16px; */
    /* line-height: 1.75; */
    }



.logo {
    padding-top: 50px;
    height: 50px;
}

#inscription-btn {
    float: right;
    padding-top: 50px;
}

#link-top {
     display: flex;
     align-items: baseline;
     float: right;
}


a {
    
float: right;
    
padding-right: 65px;
    
font-size: 15px;
    
color:  black;
    
text-decoration: none;
    
display: flex;
    
transition: none;
    

}


 a:hover {
    
border-top-style: solid;
    
border-color: #0065FC;
    
/* padding-top: 35px; */
    
color: #0065FC;
}


.slogan {
    padding-top: 50px;
}

.greytext {
  padding-top: 17px;
}


.nav {
    display: flex;
    justify-content: flex-start;
    padding-top: 18px;
    width: 100%;
}


.nav__btn {
    background-color:#0065FC;
    border-radius: 0px 10px 10px 0px;
    height: 51px;
    width: 135px;
    color: white;
    border: none;
    font-size: 15px;
}

.form-control {
    height: 40px;
    padding-right: 0;

    
}




.nav__search {
    border-radius: 0 0 0 0;
    border: 0.1px solid rgb(235, 234, 234);
    padding-left: 10px;
    width: 235px;
}

.nav__btn--disabled {
    color: black;
    border-radius: 10px 0 0 10px;
    border: none;
    background-color: rgb(219, 219, 219);
    width: 50px;
}

.container__filtres {
    display: flex;
    align-items: baseline;
    height: 50px;
}

.container__filtres-col {
    display: flex;
    flex-wrap: wrap;
    padding-top:  32px;
    padding-bottom: 43px;
}

.filterbtn {
    padding-left: 24px;
}

.container__text-col {
    padding-right: 0px;
    padding-top: 40px;
}



.filtres__conteneur {
    border-radius: 20px 20px 20px 20px;
    border: 1px solid rgb(184, 184, 184);
    background: white;
    height: 40px;
    font-size: 15px;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

    
.element {

    background-color: rgb(235, 234, 234);;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: #0065FC;
    
}

.button__type-filter {
    width: 120px;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 15px;
    
}

.fa-info-circle {
    
    background-color: #0065FC;
    border-radius: 50%;
    color: white;
    border: 3px rgb(184, 184, 184);
    
}

.grey-description {
    padding-top: 48px;
}

/* MAIN */

.container__main {
    width: 100%;
    height: 631px;
    background-color: rgb(235, 234, 234);
    border-radius: 2.5%;
    /* display: flex; */
    /* flex-direction: column; */
}


.container__main link {
    padding-bottom: none;
    padding-left: 40px;
}

.container__main-title {padding-bottom: 23px;}

/* --------- GRID MAIN SECTION INSIDE --------- */

.inside {
 
/* padding-left: 40px; */
 
height: auto;
 
width: 802px;
 
padding-top: 47px;
 
margin:  0 auto;
}

.inside-inside {

display: grid;

grid-template-columns: repeat(3, 1fr);

grid-gap: 39px;

width: 90%;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding-top: 11px;
    padding-left: 17px;


}


/* ASIDE */


.aside {
    width: 424px;
    height: 628px;
    background-color: rgb(235, 234, 234);
    border-radius: 2.5%;
    margin-left: 40px;
}


.aside__top{
    
padding-left: 40px;
    
display: flex;
    
align-items: center;
    
justify-content: space-between;
    
padding-bottom: 26px;
    
width: 334px;
    
padding-top: 45px;
}

.fa-chart-line {
    /* padding-right: 40px; */
    display: flex;
    width: 22px;
    height: 18px;
}


.aside_cards {
    display: flex;
    align-items: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 26px;
}

.aside__card {
    background-color: white;
    width: 343px;
    height: 145px;
    border-radius: 8%;
    margin-bottom: 32px;
}
 
/* --------- CARDS WITHIN MAIN COINTAINER AND ASIDE CONTAINER --------- */



.main {
    display: flex;
}

.card {
    width: 246px;
    height: 200px;
    background-color: white;
    border-radius: 8%;
}

.fa-star {
    color: #0065FC;
}

.fa-star--grey {
    color:  rgb(235, 234, 234);
}

.aside__cards-group{
    width: 343px;
    margin: 0 auto;
}

.aside__card-body {
    width: 225px;
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 154px;
    padding-top:20px;
    align-items: left;
}

.card-img-top {
    width: 236px;
    height: 114px;
    
}





/* --------- ACTIVITIES SECTION TITLE --------- */
  

.activities-section {
    padding-top: 65px;
}

.activities-section__grid {
    
max-width: 1339px;
    
height: auto;
    
display: flex;
    
justify-content: space-between;
}

#title3 {
  padding-bottom: 28px;
}


.grid-item {
    height: 447px;
    background-color: rgb(235, 234, 234);
    margin-left: 0;
    border-radius: 2.5% 2.5% 6% 6%;
    display: flex;
    align-items: flex-end;
    width:  303px;
}

.card-activity-title {
  width: 302px;
  height: 56px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.inner {
    padding-left: 19px;
    padding-top: 23px;
}


/* GRID COLUMN 2/4 */

.grid-itemdivided {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divided_img {
    width: 302px;
    background-color: rgb(235, 234, 234);
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
}


.div-1 {
    width: 303px;
    height: 239px;
}

.div-2 {
    width: 303px;
    height: 166px;
}

.div-3 {
    width: 303px;
    height: 198px;
}

.div-4 {
    width: 303px;
    height: 198px;
}



/* GRID COLUMN 4/4 */

.divided--1-3 {

    height: 200px;
   

}

/* FOOTER */

    
footer {
    background-color: rgb(219, 219, 219);
    /* position: absolute; */
    left: 0;
    margin-top: 62px;
    bottom: 0;
    height: 275px;
    width: 100%;
    overflow: hidden;
}

.footer-content {
    margin-top: 55px;
    margin-bottom: 50px;
    width: 100%;
    padding-left: 66px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
}

.list {
    list-style: none;
    padding-left: 0;
    
}

.blo {
    display: flex;
    flex-direction: column;
    text-align: left;
}







/* --------- PARTIE RESPONSIVE --------- */



/* --------- PARTIE RESPONSIVE TABLET --------- */


@media (max-width: 1204px){

    body {
        background-color: white;
        width: auto;
        padding: 0;
    }

    header {
        margin-left: 10px;
    }

    #link-top {
        margin-right: 20px;
        margin-top: 20px;
    }
    .main {
    display:  flex;
    flex-direction: column-reverse;
    }

    .activities-section__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
  
    .filterbtn {
        padding-top: 20px;
    }


    .container__filtres-col {
    height:  fit-content;
    }

    .aside__top {
        width: 211px;
    }

    .aside {
        order: 1;
        width:  100%;
        height: fit-content;
        margin-left: 0;
        margin-top: 10px;
    }

    .aside__cards-group {
        width: 90%;
        margin: 0 auto;
        display: flex;
        margin-bottom: 29px;
        justify-content: space-between;
    }

    .aside__card-body {
        padding-left: 11px;
    }

    .aside__card {
    width: 30%;
    margin: 0;
    }
    
    .container__main {
        order: 0;
        height: auto;
    }

    .inside-inside {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

    .grid-item {
         height: 420px;
         margin-bottom: 20px;
         width: 347px;
    }

    .card {
    width: 290px;
    }
    

    .div-1 {
       height: 200px;
       width: 347px;
    }

    .div-2 {
        height: 200px;
        width: 347px;
    }

    .div-3 {
        height: 200px;
        width:  347px;
    }

    .div-4 {
        height: 200px;
        width: 347px;
    }

    .card-activity-title {
        width: 347px;
    }
   
    .divided_img {
        width: 347px;
    }

    .container__main-title {
        
margin-left: 41px;
    }


    #title3 {
        margin-left: 21px;
    }


    .footer-content {
        padding-left: 10px;
        justify-content: space-around;
    }

    .blo {
    }




}




@media (max-width: 766px) {

    .maincontainer{
        width: 100%;
        background-color: white;
    }
    
        
    body {
        background-color:white;
         width: auto;
    
        }

    .logo {
        order: 0;
        padding-top:  30px;
        margin-bottom: 40px;
    }

    .link-head {
    }

    a {
      width: 50%;
      padding-left: 0;
    }


    a:hover {
    
border-top-style: solid;
    
border-color: #0065FC;
    
padding-top: 35px;
    
width: 50%;
    
color: #0065FC;
}

    #link-top {
        order: 2;
        width: 100%;
        display: flex;
        margin:  0 auto;
    }

    #inscription-btn {
        order: 1;
        float: right;
        padding-top: 43px;
        padding-right: 22px;
    }

    .nav__btn {
        height: 52px;
        width: 52px;
    }

    .nav__btn--disabled {
        height: 50px;
        width: 50px;
    }
    
    .container__filtres-col {
        padding-top: 5px;
    }

    .grey-description {
        padding-top: 219px;
    }

    .container__filtres {
         display: flex;
         flex-direction: column;
         
    }

    .filterbtn {
        padding: 0;
        padding-top: 13px;
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .aside {
        order: 0;
        margin:  0;
    }
    
    .container__main {
        background-color: white;
        order: 1;
    }
    
    
    
    .inside-inside {
        display: flex; 
        flex-direction: column;
    }
    
    .activities-section {
        padding-top: 20px;
    }
    
    .activities-section__grid{
        flex-direction: column;
        display: grid;
    }
    
    .grid-item {
        height: 198px;
        width: 303px;
        margin-bottom: 11px;
    }
    
    .aside__cards-group {
        gap: 11px;
        display: grid;
    }
    
    .card {
      width: 246px;
    }

    .card-activity-title {
        width: 303px;
    }
    
    .footer-content {
    flex-direction: column;
    margin: 0 auto;
    padding-left: 10px;
    
    }
    
    footer {
        height: auto;
    }


    
    
    }


@media (min-width: 1440px) {
    .maincontainer {
        height: auto;
        margin: 0 auto;
        padding: 0 8px;
        width: 1341px;
    }
    



