
* {
    font-family: "Raleway", sans-serif;
  /*  font-size: 16px; */
  /* line-height: 1.75; */}


body {
    width: 1340px;
    margin: 0 auto; 
}

.logo {
    height: 29px;
    width: 94px;
    padding-top: 65px;
}


a {
    
    float: right; 
    padding: 0px 30px;
    font-size: 15px;
    color:  black;
    text-decoration: none;
    display: flex;
    transition: none;
    padding-top: 40px;   
}


 a:hover {
    
        border-top-style: solid;
        border-color: #0065FC;
        padding-top: 35px;
        color: #0065FC;     
}

.nav {
    display: flex; 
    justify-content: flex-start;

}


.nav__btn {
    background-color:#0065FC;
    border-radius: 0px 10px 10px 0px;
    height: 40px;
    width: 100px;
    color: white;
    border: none;
    font-size: 15px;
}

.form-control {
    height: 40px;
    padding-right: 0;

    
}




.nav__search {
    border-radius: 0 0 0 0;
    border: 0.1px solid rgb(235, 234, 234);
    padding-left: 10px;
   
}

.nav__btn--disabled {
    color: black;
    border-radius: 10px 0 0 10px;
    border: none;
    background-color: rgb(219, 219, 219);
    width: 35px;
}

.container {
    display: flex;
    align-items: baseline;
    
    

}

.container__filtres-col {
    display: flex;
    padding-left: 50px;


}

.filterbtn {
    padding-top: 30px;
    padding-left: 24px;
}

.container__text-col {
    padding-right: 0px;
    
}



.filtres__conteneur {
    border-radius: 20px 20px 20px 20px;
    border: 1px solid rgb(184, 184, 184);
    background: white;
    height: 40px;
    font-size: 15px;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

    
.element {

    background-color: rgb(235, 234, 234);;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: #0065FC;
    
}

.button__type-filter {
    width: 120px;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 15px;
    
}

.fa-info-circle {
    
    background-color: #0065FC;
    border-radius: 50%;
    color: white;
    border: 3px rgb(184, 184, 184);
    
}


/* MAIN */

.container__main {
    width: 884px; 
    height: 631px;
    background-color: rgb(235, 234, 234);
    border-radius: 2.5%;
    display: flex; 
    flex-direction: column;
    
   
}


.container__main link {
    padding-bottom: none;
    padding-left: 40px;
}

.container__main-title {
    padding-left: 41px;
    padding-top: 45px;
    margin: 0;
}

/* --------- GRID MAIN CONTAINER --------- */

.inside {
 
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    height: 430px;
    max-width: 803px;
    padding-top: 23px;
 
    
}



.card-body {
    display: flex;
    flex-direction: column;
    padding-top: 11px;
    padding-left: 17px;


}


/* ASIDE */


.aside {
    width: 424px; 
    height: 628px;
    background-color: rgb(235, 234, 234);
    border-radius: 2.5%;
    

}


.aside__top{
    
    padding-left: 40px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px;

}

.fa-chart-line {
    padding-right: 40px;
    display: flex; 
    width: 22px;
    height: 18px;
   

}


.aside_cards {
    display: flex;
    align-items: space-between;
    align-items: center;
    flex-direction: column; 
    padding-top: 26px;
  
}

.aside__card {
    background-color: white;
    width: 343px;
    height: 146px;
    border-radius: 8%;
    margin-bottom: 32px;
    
    
}
 
/* --------- CARDS WITHIN MAIN COINTAINER AND ASIDE CONTAINER --------- */



.main {
    display: flex;
    justify-content: baseline;
    justify-content: space-between;
}

.card {
    width: 246px;
    height: 201px;
    background-color: white;
    border-radius: 8%;
    
    margin-top: 30px;
  
   
    

}

.fa-star {
    color: #0065FC;
}

.fa-star--grey {
    color:  rgb(235, 234, 234);
}


.aside__card-body {
    width: 225px;
    height: 57px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 154px;
  
    padding-top:20px;
    align-items: left;
    

  
}

.card-img-top {
    width: 236px;
    height: 114px;
    
}


.footer {
    width: 100%; 
    height : 200px;

    
     padding-left: 0px; 
    padding-right: 0px;
 background-color: rgb(255, 0, 0);
 padding-left: 0;
 padding-right: 0;
    }



/* --------- ACTIVITIES SECTION TITLE --------- */

.activities-section__inside {
    width: 1339px;
    height: 446px;
    background-color: pink;

}


#title3 {
    margin: 65px 0 26px 0;
}
    
